<div class="row">
  <div class="large-12">
    <h1>Categories</h1>

    <%- if !@categories.empty? -%>
      <table>
        <tr>
          <th>Title</th>
        </tr>

        <%- @categories.each do |category| -%>
          <tr>
            <td><%= category.name %></td>
          </tr>
        <%- end -%>
      </table>

    <%- end -%>
  </div>
</div>
